<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #page {
      display: flex;
    }

    .active {
      background: red;
      color: white;
    }

    #page li {
      list-style: none;
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <table id="tb"></table>
  <form method="post" action="/api/addFormUser">
    <div>
      <label>姓名：</label><input name="name">
    </div>
    <div>
      <label>年龄：</label><input name="age">
    </div>
    <div>
      <label>身高：</label><input name="height">
    </div>
    <div>
      <label>体重：</label><input name="weight">
    </div>
    <div>
      <label>性别：</label>
      <select name="sex">
        <option value="1">男</option>
        <option value="2">女</option>
      </select>
    </div>
    <div>
      <label>邮件：</label><input name="email">
    </div>
    <div>
      <label>出生日期:</label><input name="birthsday">
    </div>
    <div>
      <label>地址：</label><input name="address">
    </div>
    <div>
      <label>电话：</label><input name="phone">
    </div>
    <input type="submit">
    <table id="tb" border="1"></table>

    <ul id="page">

    </ul>

    <script>
      var page = 1;
      getUser(page, 4)
      /**
       * 查询用户数据
       */
      function getUser(page, pageSize) {
        var http = new XMLHttpRequest()
        http.open("GET",`/api/queryUser?page=${page}&pageSize=${pageSize}`)
        http.send()
        http.onload = function () {
          var json = JSON.parse(http.response)
          setPage(json.total, pageSize)
          renderUser(json)
        }
      }
      /**
       * total 数据的总数
       * pageSize 每页的数量
       */
      function setPage(total, pageSize) {
        var pages = 0;
        var rest = total % pageSize;
        if (rest === 0) {
          pages = total / pageSize;
        } else {
          pages = total / pageSize + 1
        }
        var html = "";
        for (var i = 1; i <= pages; i++) {
          html += `
            <li class="${page === i ? 'active' : ''}">${i}</li>
          `
        }
        document.getElementById("page").innerHTML = html;

        var lis = document.querySelectorAll("#page li") 
        lis = Array.from(lis)
        lis.forEach(li => {
          //给每个li绑定事件
          li.addEventListener("click", function (e) {
            var v = parseInt(e.target.innerText)
            page = v;
            getUser(v, 4)
          })
        })
      }



      //渲染用户数据
      function renderUser(data) {
        var html = `
            <tr class="t-header">
                    <th>id</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>身高</th>
                    <th>w体重</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>生日</th>
                    <th>地址</th>
                    <th>手机号</th>
                    <th>操作</th>
            </tr>`
        data.users.forEach(function (i) {
          html += `  
          <tr>
                    <td>${i.id}:</td>
                    <td>${i.name}:</td>
                    <td>${i.age}:</td>
                    <td>${i.height}:</td>
                    <td>${i.weight}:</td>
                    <td>${i.sex === 1 ? "男" : "女"}:</td>
                    <td>${i.email}:</td>
                    <td>${i.birthsday}:</td>
                    <td>${i.address}:</td>
                    <td>${i.phone}:</td>
                    <td>
                        <button class="btn">删除</button>
                        <button >编辑</button>
                    </td>
                </tr>
          `
        })
        document.getElementById("tb").innerHTML = html

        var btns = document.getElementsByClassName("btn")
        btns = Array.from(btns)
        btns.forEach(function (j) {
          j.addEventListener("click", function (e) {
            var id = pareInt(e.target.parentNode.parentNode.children[0].innerText)
            var http = new XMLHttpRequest();
            http.open("POST", `/api/deleteUser`)
            //请求参数为json对象
            http.setRequestHeader("content-type", "application/json")
            //post 请求为字符串 将JSON对象转化为String
            var nums = JSON.stringify({
              id: id
            })
            http.send(nums);
            //当删除成功时，重新请求
            http.onload = function () {
              getUser(page, 4)
            }
          })
        })
      }
    </script>
  </form>
</body>

</html>